<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/indexpresupuestos.css">
    <title>PresupuestosInteligentes.com</title>
</head>
<body class="container">
    <div class="maindivision">
        <table class="table" id="tableIndex">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="column">ID</th>
                    <th scope="col" class="column">Fecha de creación</th>
                    <th scope="col" class="column">Proyecto</th>
                    <th scope="col" class="column">Ultima versión</th>
                </tr>
            </thead>
            <tbody class="tbody" id="bodyindex">
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td><button class="btn btn-success">Enviar</button></td>
                    <th><button class="btn btn-info">Editar</button></td>
                    <td> <button class="btn btn-danger">Eliminar</button></td>
                </tr>
                <tr>
        </table>
        <button type="button" class="btn btn-primary" id="newBudget">Nuevo presupuesto</button>
    </div>
    <script src="../css/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/indexpresupuestos.js" type="module"></script>
</body>
</html>