<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>Log In </title>
</head>
<body class="login-page">


    <main>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="opacity: 0.5;" id="startSession">Iniciar sesión</a>
        </li>
        <li class="nav-item active" >
          <a class="nav-link active" type="button" aria-current="page" href="#" id="registerNewUser">Registrarse</a>
        </li>
        <li class="nav-item active" >
          <a class="nav-link active" type="button" aria-current="page" href="#" style="opacity: 0.5;" id="changePassword">Cambiar contraseña</a>
        </li>
      </ul>
      <div id="completedivision" style="height: auto; width: auto;">
        <div class="login-block" id="firstdivision">
          <h1 style="color: black;">Registrar usuario</h1>
          <form action="#" autocomplete="off" id="formRegister">
  
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
                <input type="text" class="form-control" placeholder="Primer nombre" id="firstname" style="opacity: 1; color: black;">
              </div>
            </div>
            
            <hr class="hr-xs">
  
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope ti-email"></i></span>
                <input type="text" class="form-control" placeholder="Segundo nombre (opcional)" id="secondname">
              </div>
            </div>
            
            <hr class="hr-xs">
  
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope ti-email"></i></span>
                <input type="text" class="form-control" placeholder="Apellido paterno" id="firstlastname">
              </div>
            </div>
  
            <hr class="hr-xs">
  
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope ti-email"></i></span>
                <input type="text" class="form-control" placeholder="Apellido materno" id="secondlastname">
              </div>
            </div>
  
            <hr class="hr-xs">
  
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope ti-email"></i></span>
                <input type="email" class="form-control" placeholder="E-mail" id="mail">
              </div>
            </div>
  
            <hr class="hr-xs">
  
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope ti-email"></i></span>
                <input type="text" class="form-control" placeholder="Nombre de usuario" id="username">
              </div>
            </div>
  
            <hr class="hr-xs">
  
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope ti-email"></i></span>
                <input type="password" class="form-control" placeholder="Contraseña" id="password">
              </div>
            </div>
  
            <hr class="hr-xs">
  
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope ti-email"></i></span>
                <input type="password" class="form-control" placeholder="Confirmar contraseña" id="secondpassword">
              </div>
            </div>
            <hr class="hr-xs">
  
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
                <input type="text" class="form-control" placeholder="Código de empresa" id="companyCode" style="opacity: 1; color: black;">
              </div>
            </div>
            
            <hr class="hr-xs">
            <button class="btn btn-primary btn-block" type="button" id="registerButton">Registrar</button>
  
          </form>
        </div>
        <div class="login-block" id="secondivision" >
          <h1 style="color: black;">Iniciar Sesión</h1>
          <form action="#" autocomplete="off" id="formStart">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
                <input type="text" class="form-control" placeholder="Nombre de usuario" id="usernameLogin" style="opacity: 1; color: black;">
              </div>
            </div>
            <hr class="hr-xs">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
                <input type="text" class="form-control" placeholder="Password" id="passwordLogin" style="opacity: 1; color: black;">
              </div>
            </div>
            <hr class="hr-xs">
            <button class="btn btn-primary btn-block" type="button" id="startButton">Entrar</button>
  
          </form>
        </div>
      </div>
      

    </main>
    <script src="../js/login.js" type="module"></script>
    <script src="../js/login.interactions.js"></script>
</body>
</html>