<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/newbudget.css">
    <title>Document</title>
</head>
<body class="container">
    <select name="monthselect" id="monthselect" >
        <option value="" selected disabled>Mes de inicio</option>
        <option value="Febrero">Enero</option>
        <option value="Marzo">Febrero</option>
        <option value="Abril">Marzo</option>
        <option value="Mayo">Abril</option>
        <option value="Junio">Mayo</option>
        <option value="Julio">Junio</option>
        <option value="Agosto">Julio</option>
        <option value="Septiembre">Agosto</option>
        <option value="Octubre">Septiembre</option>
        <option value="Noviembre">Octubre</option>
        <option value="Diciembre">Noviembre</option>
        <option value="Enero">Diciembre</option>
    </select>
    <!--CASH FLOW-->
    <div class="cashflowcontainer">
        <h2>Flujo de efectivo</h2>
        <table class="table" id="cashflowtable">
            <thead class="thead-dark">
                <tr id="cashflowrowthead">
                <th scope="col" class="column" id="conceptcolumn" hidden>Concepto</th>
                </tr>
            </thead>
            <tbody class="tbody" id="flowcashtbody">
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" id="addmonthbutton">Nuevo mes</button>
    </div>
    <!--EARNINGS-->
    <div class="earningscontainer">
        <h2>Ingresos</h2>
        <table class="table" id="earningstable">
            <thead class="thead-dark">
                <tr id="earningsthead">
                <th scope="col" class="column" id="conceptcolumnearnings" hidden>Concepto</th>
                </tr>
            </thead>
            <tbody class="tbody" id="earningstbody">
                <tr id="earningstotalearnings" hidden><td>Total</td></tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" id="buttonearningsadd" hidden>+</button>
    </div>
    <!--COST DIRECT-->
    <div class="directcostcontainer">
        <h2>Costos directos</h2>
        <table class="table" id="directcosttable">
            <thead class="thead-dark">
                <tr id="directcosthead">
                <th scope="col" class="column" id="conceptcolumndirectcost" hidden>Concepto</th>
                </tr>
            </thead>
            <tbody class="tbody" id="directcosttbody">
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" id="buttondirectcostadd" hidden>+</button>
    </div>
    <!--COST ADMIN-->
    <div class="admincostcontainer">
        <h2>Gastos administrativos</h2>
        <table class="table" id="admincosttable">
            <thead class="thead-dark">
                <tr id="admincosthead">
                <th scope="col" class="column" id="conceptcolumnadmincost" hidden>Concepto</th>
                </tr>
            </thead>
            <tbody class="tbody" id="admincosttbody">
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" id="buttonadmincostadd" hidden>+</button>
    </div>
    <!--RESOURCES-->
    <div class="resourcescontainer">
        <h2>Recursos</h2>
        <table class="table" id="resourcestable">
            <thead class="thead-dark" id="" >
                <tr id="resourcesthead">
                    <th scope="col" class="column" id="conceptcolumnresources" hidden>Concepto</th>
                </tr>
            </thead>
            <tbody class="tbody" id="resourcestbody">
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" id="buttonresourceadd" hidden>+</button>
    </div>
    <script src="../css/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/newbudget.interactions.js" type="module"></script>
</body>
</html>